{{#with course}}
  <h3>{{name}}</h3>
  <ul><li>{{language}}</li></ul>
  <p>Esse é um curso muito interessante, e que ajuda muito quem ainda está iniciando nessa tecnologia. {{body}}</p>
  <p>Números de comentários: {{comments}}</p>
{{/with}}