<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tarefa - Handlebars</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <main>
    <header><p>Tarefa do Handlebars</p></header>
    <section id="main">{{{body}}}</section>
    <footer><p>Desenvolvido no dia 23 de Fevereiro de 2022</p></footer>
  </main>
</body>
</html>