<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Página de Login</title>
</head>

<body>
  <div class="container">
    <header>
      <h3>Express - Tarefa</h3>
    </header>
    <div class="containerCards">
      <h1>Seja bem vindo</h1>
      <section class="sectionCard">
        <section class="cards">
          <h2>Título 1:</h2>
          <p>Pensando mais a longo prazo, a percepção das dificuldades talvez venha a ressaltar a relatividade das formas de ação.</p>
        </section>
        <section class="cards">
          <h2>Título 2:</h2>
          <p>Todavia, a constante divulgação das informações afeta positivamente a correta previsão das condições financeiras e administrativas exigidas.</p>
        </section>
    </div>
    </section>
    <footer>
      <p>Tarefa feita no dia 02 de fevereiro de 2022</p>
    </footer>

  </div>
</body>

</html>